<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio Streamer - @ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/Images/waterStream.png">


    @*@System.Web.Optimization.Styles.Render("~/Content/css");
    @System.Web.Optimization.Styles.Render("~/Content/player");

    @System.Web.Optimization.Scripts.Render("~/script/jquery");
    @System.Web.Optimization.Scripts.Render("~/script/modernizr");
    @System.Web.Optimization.Scripts.Render("~/script/bootstrap");
    @System.Web.Optimization.Scripts.Render("~/script/player");*@

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Player/jplayer.pink.flag.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Player/star-rating.css" rel="stylesheet" type="text/css" />
    
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Player/star-rating.js"></script>
    <script src="~/Scripts/Player/jquery.jplayer.min.js"></script>
    <script src="~/Scripts/Player/marquee.js"></script>
    <script src="~/Scripts/Player/gui-components.js"></script>
    <script src="~/Scripts/Player/set.player.js"></script>


</head>
<body background="~/Images/bg.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top customNavbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img border="0" class="myNavbarElement" alt="Radio Streamer" src="~/Images/waterStream.png" width="48" height="48" /></a>
            </div>
            <div class="navbar-collapse collapse customNavbar">
				<ul class="nav navbar-nav navbar-left">
					<li>@Html.ActionLink("O aplikacji", "About", "Home", new { area = "" }, new { @class = "myNavbarElement site-text nav-item" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
					    @Html.Partial("~/Views/Shared/channelsPartial.cshtml")
                        <li>@Html.ActionLink("Wyloguj", "LogOut", "Account", new { area = "" }, new { @class = "navbar-brand nav navbar-nav navbar-right" })</li>
                    }
				</ul>
            </div>
        </div>

    <div class="">
        @RenderBody()
        <footer class="footer">
            <hr />
            <p class="site-text">&copy; @DateTime.Now.Year - Radio Streamer - Bartłomiej Buchała</p>
        </footer>
    </div>
</body>
</html>